body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

nav {
	width: 100%;
	color: #333333;
	background-color: #cfe5ef;
	height: 150px;
	display: inline-block;
}

.nav {	
	position: relative;
	top:36.5px;
	vertical-align: middle;
	padding: 0 20px;
	width: 100%;
	max-width: 1292px;
	min-width: 1292px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

a:visited {
	color: #333;
}


.logo_text {
	position: relative;
	line-height: 62px;
	font-style: italic;
	font-weight: 900;
	vertical-align: middle;
	font-size: 48px;
	text-decoration: none;
	color: #333333;
}

span.logo_icon{
	position: relative;
	top:14px;
	display: inline-block;
	height: 62px;
	width: 50px;
	background: url(../img/logo-sprite.png);
}

.logo_icon:active{
	background-position: -50px;
}

.logo_text:hover{
	color: #52359d;
}

.logo_text:active{
	color: #333333;
}

.logo_text:active .logo_icon{
	background-position: -50px;
}


ul {
	display: inline-block;
	margin: 0;
	padding: 10px 25px 10px 20px;	
	list-style: none; 
}

.top-menu li {
	text-transform: uppercase;
}

.bottom-menu li {
	text-transform: none;
}

.top-menu a:hover {
	text-decoration: underline;
	color: #52359d;
}

.top-menu a:active {
	text-decoration: underline;
	color: #333;
}

.top-menu > li{
	font-weight: bold;
	padding: 10px 20px;
	position: relative;
	display: inline-block;
}

.drop {
	position: relative;
	
}

/*a.drop:hover {
	color: #333;
	text-decoration: none;
}*/

.bottom-menu {
	position: absolute;
	z-index: 0;
	top: 100%;
	left:0%;
	width: 100%;
	box-shadow: 0 0 50px 0 black;
	display: none;
}

.bottom-menu > li{
	font-weight: normal;
}

.top-menu li:hover ul.bottom-menu {
	z-index: 0;
	display: block;
	background-color: #fff;
}

.bottom-menu a:hover {
	text-decoration: none;
	color: #333;

}


.login {
	position: absolute;
	right: 20px;
	top: 7px;
	user-select: none;
	display: inline-block;
	width: 125px;
	height: 60px;
	background-color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	box-sizing: border-box;
}

.login:hover {
	background-color: #52359d;
	color: #fff;
}

.login:active {
	background-color: #333;
	color: #999;
}







h2 {
	margin-bottom: 5px;
}

.container {
	max-width: 1292px;
	min-width: 1292px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.fill {
	background-color: #e2e2e2;
	box-sizing: border-box;
	border: 0.1px solid grey;
	height: 50px;
}

.separator {
	background-color: #c3c3c3;
	height: 5px;
	width: 200px;
	border: none;
	margin-bottom: 30px;
}

.avatar {
	margin-bottom: 15px;
	box-sizing: border-box;
	border-radius: 50% ;
	background-color: #444;
	border: #9f9f9f solid 0.1px;
	width: 192px;
	height: 192px;
	background-image: url(../img/no-avatar.png);
}

.username {
	display: inline-block;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
}

.comment-date {
	display: inline-block;
	color: #6e6e6e;
	opacity: 0.5;
}

.comment {
	padding-top: 10px;
	font-size: 16px;
	color: #797979;
}

.for-comment {
	margin-top: 0px;
	margin-bottom: 35px;
}

.separator-2 {
	position: relative;
	left: 545px;
	display: inline-block;
	background-color: #c3c3c3;
	height: 5px;
	width: 200px;
	border: none;
	margin-bottom: 30px;
}

.gallery-text {
	margin-top: 20px;
	padding-left: 10px;
	font-size: 12px;
}